:root {
  --primary: hsl(217, 99%, 26%);
  --gray: hsl(217, 11%, 64%);
  --white: hsl(216, 100%, 95%);
  --highlight: rgba(251, 255, 38, 0.493);
}

body {
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for desktop */
  grid-template-rows: auto auto auto; /* Three rows for desktop */
  grid-template-areas:
    "header header"
    "nav img_card__container"
    "footer footer";
}

.header {
  background-color: var(--primary);
  color: var(--white);
  display: grid;
  align-items: center;
  justify-items: center;
}

.header__title {
  font-size: 3rem;
  margin: 0;
  font-family: 'Pacifico', cursive;
}

.nav__container {
  box-shadow: var(--gray) 4px 4px 10px 2px;
  display: grid;
  row-gap: 24px;
  grid-template-columns: 1fr;
  min-width: 200px;
  justify-items: center;
  padding: 12px 0 24px;
}

.nav__link, .nav__link--active {
  text-decoration: none;
  color: var(--primary);
  position: relative;
}
.nav__link::after, .nav__link--active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  margin-left: -90px;
