body {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for desktop */
  grid-template-rows: auto auto auto; /* Three rows for desktop */
  grid-template-areas:
    "header header"
    "nav img_card__container"
    "footer footer";
}

@media screen and (max-width: 1100px) {
  body {
    grid-template-columns: 1fr; /* One column on smaller screens */
    grid-template-rows: auto auto auto auto; /* Four rows */
    grid-template-areas:
      "header"
      "nav"
      "img_card__container"
      "footer";
  }

  .nav__container {
    width: 80vw;
    min-width: 300px;
    grid-template-columns: repeat(4, 1fr); /* 4 columns on smaller screens */
  }

  /* Remove active link underline on small screens */
  .nav__link::after, .nav__link--active::after {
    display: none;
  }
}

.img_card__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Auto-fill columns */
  grid-auto-rows: 350px; /* Set a fixed height for image cards */
  gap: 20px;
  padding: 20px;
}

@media screen and (max-width: 1100px) {
  .nav__container {
    grid-template-columns: 1fr; /* Stack links vertically */
  }

  .nav__link {
    padding: 10px;
    text-align: center; /* Center-align links */
  }
}

.nav__link--active {
  padding: 0 20px;
  box-shadow: inset var(--highlight) 200px 0px 0px 1px;
}

@media screen and (max-width: 1100px) {
  .nav__link--active {
    padding: 0; /* Remove padding for smaller screens */
  }
}

